*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-inline-start: auto;
} 

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    margin-inline-start: auto;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    outline: none;
    color: #666;
    padding: 3px;
    width: 100%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #666;
    width: 20%;
    margin-left: 5px;
    padding: 3px;
    cursor: pointer;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount, h4{
    font-size: 16px;
    font-weight: normal;
}

h3{
    color: #666;
}

h4{
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

main section div.products article{
    width: 100%;
    transition: all 450ms;
}

main section div.products article h4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 26, 26, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    box-shadow: 0;
    transition: box-shadow 1s;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article i:hover{
    transform: rotateZ(-90deg);
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer{
    text-align: center;
    background-color: white;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div div{
    padding: 20px;
    text-align: center;
    max-width: 95%;
}

footer div div i{
    color: #1259c3;
    transition-property: color;
    transition-duration: 0.5s;
    font-size: 2em; 
    margin-top: 40px;
    margin-bottom: 20px;
}

footer div div i:hover{
    color: #EAC926;
}

footer div div h3{
    text-align: center;
    font-size: 18px;
    color:#666;
}

footer div div p{
    text-align: center;
    font-size: 16px;
    color:#666;
    margin: 20px;
}

footer p{
    text-align: center;
}

.login{
    height: 21vh;
}   

form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input.name{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input.password{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input.submit{
    color: white;
    background-color: #1259c3;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    border: 1px solid #1259c3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input.submit:hover{
    background-color: #00AA22;
    color: #FFF;
}

.register{
    padding: 20px;
    height: 50hv;
}

.crea-cuenta{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.user-pic{
    color: white;
    background-color: #aeceff;
    border: 1px solid #aeceff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.submit-register{
    color: white;
    background-color: #1259c3;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    border: 1px solid #1259c3;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.submit-register:hover{
    background-color: #00AA22;
    color: #FFF;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.interests{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.choice{ 
    width: 30%;
    padding: 5px;
    margin: 10px;
}

@media (min-width: 481px){ 
    header{
        height: auto;
    }

    div.top-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: spae-around;
        padding: 5%;
    }
    
    header div.top-header p{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    } 
     
    header div.logo{
        width: 50%;
        padding: 10px;
        height: 10vh;
    }

    header .form{
        width: 50%;
    }

    header div.top-header p{
        margin-top: 10%;
    }
    
    header .form{
        display: flex;
        align-items: center;
        padding: 2px;
        font-size: 11px;
    }

    .new-nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav ul.nav-bar-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start, space-between;
    }

    nav ul.nav-bar-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end, space-between;
    }

    header ul li{
        list-style-type: none;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    header ul li a{
        text-decoration: none;
        color: #000;
    }
    
    header .form .input{
        background-color: #FFF;
        border: 1px solid #FFF;
        border-radius: 10px;
        outline: none;
        color: #666;
        width: 100%;
        padding: 10px;
    }
    
    header .form .submit{
        background-color: #FFF;
        border: 1px solid #FFF;
        border-radius: 10px;
        color: #666;
        width: 20%;
        margin-left: 5px;
        padding: 10px;
        cursor: pointer;
    }

    div.burger-menu{
        display: none;
    }

    main section div.products article{
        width: 45%;
        transition: all 450ms;
        position: relative;
    }
    
    main section div.products article  h4{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(26, 26, 26, 0.5);
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 450ms;
    }

    main section article{
        box-shadow: 0;
        transition: box-shadow 1s;
    }
    
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .price,
    .discount{
        width: 50%;
    }

    .login{
        height: 30vh;
        width: 60%;
        padding: 10px;
    }   
    
    form{ 
        display: flex;
        flex-direction: column;
    }
    
    input.name{
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
    
    input.password{
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
    
    input.submit{
        color: white;
        background-color: #1259c3;
        border: 1px solid #1259c3;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    .register{
        padding: 20px;
        height: 50hv;
        width: 60%;
    }
    
    .crea-cuenta{
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
    
    .user-pic{
        color: white;
        background-color: #aeceff;
        border: 1px solid #aeceff;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
    
    .submit-register{
        color: white;
        background-color: #1259c3;
        border: 1px solid #1259c3;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
    
    .profile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .interests{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .choice{ 
        width: 30%;
        padding: 5px;
        margin: 10px;
    }

    footer{
        text-align: center;
        background-color: white;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
    }
    
    footer div div{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        max-width: 95%;
    }
    
    footer div div i{
        color: #1259c3;
        transition-property: color;
        transition-duration: 0.5s;
        font-size: 2em; 
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    footer div div i:hover{
        color: #EAC926;
    }
    
    footer div div h3{
        text-align: center;
        font-size: 18px;
        color:#666;
    }
    
    footer div div p{
        text-align: center;
        font-size: 16px;
        color:#666;
        margin: 20px;
    }
    
    footer p{
        text-align: center;
    }
}
    
@media (min-width: 769px){
    /*desktop*/
    header{
        height: auto;
    }

    header div.logo{
        width: 60%;
        padding: 10px;
        height: 10vh;
    }

    header div.top-header{
        display: flex;
        flex-direction: row;
        flex-wrap: initial;
    }

    header .form{
        width: 70%;
        margin-left: 10%;
    }
    
    header div.top-header p{
        margin: auto;
    }

    main section div.products article{
        width: 22%;
        transition: all 450ms;
        position: relative;
    }
    
    main section div.products article div.main-article h4{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(26, 26, 26, 0.5);
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 450ms;
    }
    
    footer{
        text-align: center;
        background-color: white;
    }
    
    footer div{
        display: flex;
        flex-direction: row;
    }
    
    footer div div{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        max-width: 95%;
    }
    
    footer div div i{
        color: #1259c3;
        transition-property: color;
        transition-duration: 0.5s;
        font-size: 2em; 
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    footer div div i:hover{
        color: #EAC926;
    }
    
    footer div div h3{
        text-align: center;
        font-size: 18px;
        color:#666;
    }
    
    footer div div p{
        text-align: center;
        font-size: 16px;
        color:#666;
        margin: 20px;
    }
    
    footer p{
        text-align: center;
    }
}